@import "../vars";

.attainment{
  background-color: $lightgray;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.desc--attainment {
  margin-bottom: 80px;
}

// skin

.skin{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.attainment-box{
  margin: 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.progress-ring{
	margin-bottom: 20px;
}

.attainment-box__desc {
	font-size: 2rem;
	color: $black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
	
	@media screen and (min-width: 768px) {
		font-size: 1.3rem;
	}
}

// attainment animation

.anim-attainment--bottom {
	animation-name: animBottom;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.anim-attainment--bottom {
	animation-name: animBottom;
	animation-duration: 1s;
	animation-timing-function: linear;
}
