@import "../vars";

.main {
  background: url(../img/background/cover.jpg) fixed 50% 50% no-repeat;
  background-size: cover;
  background-color: $darkgray;
  height: 100%;
  width: 100%;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/background/pattern.png) fixed repeat;
    background-color: rgba($darkblue, .3);
  }
}

.main__desc { 
	position: relative;
  top: 40%;
  color: $white;
	text-align: center;

	width: 300px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.greeting {
  &-text {
    font-size: 1.6rem;

    &:first-child {
      margin-bottom: 15px;
    }
  }

  &-title {
  font-size: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif; 
  font-weight: 900; 
  margin-bottom: 15px;
  }
}

// scroll

.main__scroll {
  position: absolute;
  top: 85%;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100px;
}

.scroll-field {
  position: relative;
  left: 47%;
}

.arrow {
	animation-name: arrow;
  animation-duration: 1.5s;
  animation-timing-function: linear; 
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;

  &::before {
    content: "";
    display: block;
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    top: 0;
    background-color: $white;
    border: 2px solid $white;
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
    left: 19px;
    border: 2px solid $white;
  }

  @keyframes arrow {  
    0% {
      transform: translateY(0px);
    } 
    100% {
      transform: translateY(50px);
    }
  }
}
