@font-face {
	font-family: 'Gloria Hallelujah';
	font-display: auto;
  src: url('../assets/fonts/Gloria_Hallelujah/GloriaHallelujah.ttf') format("truetype"),
  url('../assets/fonts/Gloria_Hallelujah/GloriaHallelujah.woff') format("woff"),
  url('../assets/fonts/Gloria_Hallelujah/GloriaHallelujah.svg') format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
	font-family: 'Raleway';
	font-display: auto;
  src: url('../assets/fonts/Raleway/Raleway-Regular.ttf') format("truetype"),
  url('../assets/fonts/Raleway/Raleway-Regular.woff') format("woff"),
  url('../assets/fonts/Raleway/Raleway-Regular.svg') format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
	font-family: 'Raleway';
	font-display: auto;
  src: url('../assets/fonts/Raleway/Raleway-Black.ttf') format("truetype"),
  url('../assets/fonts/Raleway/Raleway-Black.woff') format("woff"),
  url('../assets/fonts/Raleway/Raleway-Black.svg') format("svg");
  font-style: normal;
  font-weight: 900; 
}
